*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #5B5B5B;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
}

.location h1 {
  font-size: 20px;
  line-height: 130%;
}

.location h3 {
  font-size: 14px;
  font-weight: lighter;
}

.location {
  text-decoration: none;
  background-color: #E5E5E5;
  border-bottom: 1px solid #959595;
}

.location:hover {background-color:#B5B3B5;}

.container {
  margin: 0 auto;
  width: 420px;
}

.content {
  padding: 20px;
  display: inline-block;
  width: 90%
}

.arrow {
  display: inline-block;
  position: static;
}

nav {
  background-color: #000000;
  margin-top: 0;
  margin-right: 50px;
  margin-bottom: 0;
  margin-left: 50px;
  padding: 10px 0 15px 15px;
  width: 400px;
}

.restaurant-list {
  margin-top: 0;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  padding: 0;
  width: 400px;
}
